:host {
  position: absolute;
  top: 100px;
  left: 0;
  height: calc(100vh - 100px);
  width: 100%;
  background: lightgrey;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 10rem;
  animation: 2s spin ease-out infinite;
  -moz-animation: 2s spin ease-out infinite;
  -o-animation: 2s spin ease-out infinite;
  -webkit-animation: 2s spin ease-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}