:host {
  display: block;
  height: 400px;
  width: 100%;
  flex: .9;
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: 1px solid #393939;
  overflow-y: auto;
  &__buttons-container {
    &__button {
      background: none;
      border: none;
      font-size: 1.7rem;
      color: inherit;
      margin: 0 5px;
    }
  }
}